:root {
  /* Couleurs */
  --background-color-primary: hsl(130deg 8% 14%);
  --background-color-secondary: hsl(0deg 0% 85% / 30%);
  --overlay-color: hsla(0deg 0% 0% / 60%);
  --text-color-primary: hsl(40deg 92% 95%);
  --text-color-secondary: hsl(35deg 87% 59%);
  --border-color-primary-opacity: hsla(40deg 100% 95% / 50%);
  --border-color-primary-opacity-light: hsla(40deg 100% 95% / 20%);
  --linear-gradient-primary: linear-gradient(
    to right,
    hsl(35deg 87% 59%) 0%,
    hsl(39deg 92% 58%) 8%,
    hsl(42deg 96% 57%) 17%,
    hsl(46deg 99% 55%) 25%,
    hsl(50deg 100% 50%) 33%,
    hsl(44deg 100% 50%) 42%,
    hsl(38deg 100% 50%) 50%,
    hsl(32deg 100% 50%) 58%,
    hsl(26deg 100% 50%) 67%,
    hsl(22deg 100% 50%) 75%,
    hsl(18deg 100% 50%) 83%,
    hsl(12deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );

  /* Polices */
  --font-primary: "Atkinson Hyperlegible", arial, sans-serif;
  --font-secondary: "Syne", tahoma, sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.875rem;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

/* Réinitialisation globale */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles globaux */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: var(--font-primary), Roboto, sans-serif;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  max-width: 90rem;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline: 0.125rem solid var(--text-color-secondary);
  outline-offset: 0.125rem;
  border-radius: 0.125rem;
}

/* Liens spécifiques */
.repo-link {
  align-self: end;
}

.repo-link:focus-visible {
  outline: 0.2rem solid var(--background-color-primary);
  outline-offset: 0.125rem;
  border-radius: 0.125rem;
}

.download-link {
  float: right;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 0.125rem solid var(--border-color-primary-opacity);
  color: var(--text-color-primary);
  font-size: clamp(1rem, 0.613rem + 1vw, 1.25rem);
  position: relative;
  background-color: var(--background-color-primary);
}

/* Navigation */
#nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid var(--border-color-primary-opacity);
  padding: 1rem;
  background-color: var(--background-color-primary);
}

.menu-mobile {
  position: fixed;
  font-size: var(--font-size-xxl);
  font-family: var(--font-secondary);
  padding: 2rem;
  width: 80%;
  height: 100%;
  right: 0;
  background-color: var(--text-color-primary);
  color: var(--background-color-primary);
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 1000;
}

.menu-mobile:not(.menu-mobile-open) {
  visibility: hidden;
}

.menu-mobile li {
  list-style: none;
  margin-bottom: 2.5rem;
}

.body-no-scroll {
  overflow: hidden;
}

#menu-toggle {
  background-color: transparent;
  border: none;
}

.menu-mobile-open {
  transform: translateX(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 100;
}

.overlay-open {
  display: block;
}

#nav-desktop {
  display: none;
  padding: 3.3rem 3.3rem 0.5rem;
  background-color: var(--background-color-primary);
}

#nav-desktop ul {
  display: flex;
  list-style: none;
  align-items: first baseline;
  gap: 1rem;
}

.home-link {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-secondary);
  margin-right: 1.875rem;
}

.nav-desktop-item {
  padding: 0.7rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-desktop-item:hover {
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
}

/* Sections */
main {
  padding: 0 clamp(1rem, 7vw, 6rem);
}

.intro-subtext {
  font-family: var(--font-secondary);
  font-size: clamp(2.5rem, 1.788rem + 5vw, 6rem);
  margin-block-start: 3rem;
}

section {
  margin: 6rem 0;
}

.section-header {
  position: relative;
}

.section-title {
  font-family: var(--font-primary);
  font-size: clamp(1.25rem, 0.802rem + 1.739vw, 2rem);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
  display: flex;
  gap: 0.5rem;
  margin: 3rem 0 2rem;
}

.section-title::before {
  content: "";
  margin-top: 0.8em;
  width: 2.25rem;
  height: 0.0625rem;
  background-color: var(--text-color-primary);
}

#intro {
  margin-block-start: clamp(6vh, 12vh, 20vh);
}

.name {
  color: var(--text-color-primary);
  background: var(--linear-gradient-primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: text-shine 2s ease-in-out infinite alternate;
}

.section-description {
  margin-block-start: 6vh;
  line-height: 2rem;
  font-size: clamp(1rem, 0.613rem + 1.739vw, 1.5rem);
}

.background-description,
article {
  opacity: 0;
}

blockquote,
.section-header > p {
  font-family: var(--font-secondary);
  font-size: clamp(1.25rem, 0.902rem + 1.7vw, 2rem);
  font-weight: var(--font-weight-bold);
  max-width: 30.625rem;
}

blockquote footer {
  margin-block-start: 0.6rem;
  font-weight: 400;
  font-size: var(--font-size-lg);
}

.portrait {
  width: 100%;
  max-width: 37.5rem;
  margin-block-end: 1.25rem;
  object-fit: cover;
  opacity: 0;
  scale: 0.7;
  animation: fade-in-bottom-scale linear forwards;
  animation-timeline: view();
  animation-range: 200px 700px;
}

.about-title,
.projects-cards {
  margin-block-start: 7vh;
}

.about-description {
  opacity: 0;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

article:focus-visible {
  outline: 0.125rem solid var(--text-color-secondary);
  outline-offset: 0.125rem;
  border-radius: 0.125rem;
}

article img {
  width: 80%;
  margin: auto;
  object-fit: cover;
}

.project-info h3 {
  display: none;
}

.geometric-shape {
  display: none;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  top: 6.25rem;
  left: -6.25rem;
}

address {
  margin-block-start: 7vh;
}

.address-item {
  margin-block-end: 2.1875rem;
}

dt {
  font-size: clamp(1.125rem, 0.613rem + 1.739vw, 1.5rem);
  color: var(--text-color-secondary);
  font-style: normal;
}

dd {
  font-style: normal;
  margin-block-start: 0.25rem;
}

.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-block-start: 9rem;
}

/* Responsive Design */
@media (width >= 768px) {
  #nav-mobile {
    display: none;
  }

  #nav-desktop {
    display: flex;
  }

  section {
    margin-block-start: 25vh;
    scroll-margin-top: 22vh;
  }

  #about {
    display: flex;
    gap: 2rem;
    margin-block-start: 25vh;
    scroll-margin-top: 25vh;
  }

  #contact {
    margin-bottom: 10rem;
  }

  .portrait {
    margin-block-end: 0;
    flex: 1;
  }

  .about-content {
    flex: 1;
    padding-top: 3rem;
  }

  .about-title {
    padding-left: 3.5rem;
    opacity: 0;
  }

  .about-content > p {
    line-height: 2.2rem;
    margin-block-start: 12vh;
    padding-left: 1.5rem;
  }

  #background,
  #projects,
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-description {
    padding: 0 1rem;
  }

  .download-link {
    grid-column: 2;
    max-width: 18.75rem;
    text-align: center;
    margin-left: auto;
    margin-top: 3.75rem;
  }

  .geometric-shape {
    display: block;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25rem;
    max-width: 40rem;
    background-color: transparent;
    margin-left: auto;
    margin-bottom: 2.5rem;
    border: none;
  }

  article img {
    min-height: 8.125rem;
    min-width: 10rem;
  }

  article:nth-of-type(1) {
    animation-delay: 0s;
  }

  article:nth-of-type(2) {
    animation-delay: 0.4s;
  }

  article:nth-of-type(3) {
    animation-delay: 0.8s;
  }

  article:nth-of-type(4) {
    animation-delay: 1.2s;
  }

  .project-info h3 {
    padding: 1rem 0;
    display: block;
    font-size: var(--font-size-xl);
  }

  .project-info {
    color: var(--text-color-primary);
    padding-top: 0.25rem;
    position: relative;
    border-top: 1px solid var(--border-color-primary-opacity-light);
  }

  .project-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: var(--border-color-primary-opacity);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .project-info:hover::before {
    transform: scaleX(1);
  }

  article:not(:last-of-type) .project-info::before {
    content: "WIP";
    color: var(--text-color-secondary);
  }

  address {
    padding-left: 12.5rem;
  }

  footer:not(blockquote footer) {
    padding: 3rem;
  }
}

@media (width >= 1440px) {
  #intro {
    margin-block-start: 25vh;
  }

  #contact {
    margin: 25rem auto;
  }
}

/* Animations */
@keyframes text-shine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out forwards;
}

.fade-in-right {
  animation: fade-in-right 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-right-delay-1 {
  animation: fade-in-right 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom-scale {
  from {
    opacity: 0;
    transform: translateY(20%);
    scale: 0.7;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

/* Animation du download-link */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.download-link::after,
.download-link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  background-image: conic-gradient(from var(--angle), transparent 70%, var(--text-color-secondary));
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.download-link::before {
  filter: blur(1.5rem);
}

.download-link:hover::after,
.download-link:hover::before {
  opacity: 1;
}

.highlighted-link {
  padding: 4px 8px;
  color: var(--text-color-primary);
  position: relative;
  background-color: var(--background-color-primary);
  border-radius: 30px;
}

.address-item > dt {
  padding-left: 8px;
}

.highlighted-link::after,
.highlighted-link::before {
  content: "";
  border-radius: 30px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  background-image: conic-gradient(from var(--angle), transparent 70%, var(--text-color-secondary));
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.highlighted-link::before {
  filter: blur(1.5rem);
}

.highlighted-link:hover::after,
.highlighted-link:hover::before {
  opacity: 1;
}

.spin-animation::after,
.spin-animation::before {
  animation: 1.8s spin linear infinite;
}

.spin-exit::after,
.spin-exit::before {
  animation: spin-exit 2.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}

@keyframes spin {
  to {
    --angle: 360deg;
  }
}

@keyframes spin-exit {
  to {
    --angle: 360deg;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0 0 0 / 90%);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.modal-open {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  color: var(--background-color-primary);
}

.modal-description-container {
  background-color: var(--text-color-secondary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.modal-description {
  margin-block-start: 1rem;
  padding-left: 1rem;
  font-size: var(--font-size-lg);
}

.close-button {
  position: absolute;
  padding: 0.0625rem 0.5rem;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
}
