* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-grey: #DDDBDE;
  --grey: #656E77;
  --dark-grey: #3B373B;
  --blue: #087ea4;

  color: var(--grey)
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--light-grey);
}
